.headercontainer {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.logo {
  max-width: 100%;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.topimage {
  max-width: 100%;
  grid-column: 4 / span 5;
}

.bulbs {
  max-height: 100%;
  max-width: 100%;
  grid-row: 1 / span 7;
  grid-column: 9 / span 1;
}

@media only screen and (max-width: 700px) {
  .bulbs {
    display: none;
  }
}
.socials {
  grid-row: 4 / span 1;
  grid-column: 5 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.yticon {
  color: #f5e6e6;
  font-size: 50px;
}

.instaicon {
  color: #f4f4f4;
  font-size: 50px;
}

.fbicon {
  color: #ffffff;
  font-size: 45px;
}

.navcontainer {
  grid-row: 6 / span 1;
  grid-column: 4 / span 4;
}

.hero {
  display: grid;
  grid-column-gap: 15px;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);
  width: auto;
  height: auto;
}

.taj {
  max-width: 100%;
  grid-row: 1 / span 6;
  grid-column: 2 / span 2;
}

.hero p {
  color: white;
  font-size: 30px;
  grid-row: 1 / span 8;
  grid-column: 5 / span 3;
}

#blight1:hover,
#blight2:hover,
#blight3:hover,
#blight4:hover,
#blight5:hover {
  fill: red;
}
#bulb1 {
  animation: bulb1 2s ease-in-out infinite alternate;
}

#bulb2 {
  animation: bulb1 2s ease-in-out infinite alternate;
}
#bulb3 {
  animation: bulb1 3s ease-in-out infinite alternate;
}
#bulb4 {
  animation: bulb1 2s ease-in-out infinite alternate;
}
@keyframes bulb1 {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}
#blight1,
#blight2,
#blight3,
#blight4,
#blight5 {
  animation: bulb 1s infinite;
}

@keyframes bulb {
  from {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
